#wrapper {
    border: 2px solid lightslategray;
    border-radius: 5px;
    background-color: lightgray;
    margin:auto;
    margin-top: 30px;
    max-width:80%;
    padding-right: 10px;
    padding-left: 10px;
}

h1{
    font-family: Verdana;
    font-weight:500;
}
h3{
    font-family: Verdana;
    
}

#Personal{ 
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid lightslategray;
    border-radius: 5px;
    margin-bottom: 10px;
}