#wrapper {
    border: 2px solid lightslategray;
    border-radius: 5px;
    background-color:lightcoral;
    position:absolute;
    padding-right: 10px;
    padding-left: 10px;
    left: 10%;
    right: 10%;

}


#Personal{ 
    position: relative;
    border: 2px solid lightslategray;
    border-radius: 5px;
    float: left;
    background-color:wheat;
    width: 45%;
    
}

#Payment{
    float: right;
    border: 2px solid lightslategray;
    background-color:wheat;
    width: 54%;
    height: 500px;
    max-width: 60%;
    border-radius: 5px;
    position: relative;
}

.title{
    font-size: 2em;
    position: relative;
    bottom: 0.4 em;
}


input[type=text] {
    border-radius: .3em;

}

